{% macro balanceTable(assetsByValueDesc) %}
<table class="w-full table table-fixed rounded-xl">
    <thead>
    <tr>
        <th class="text-left text-l py-3 px-4 w-1/4 lg:w-2/12">Currency</th>
        <th class="text-left text-l py-3 px-4 lg:w-1/12 hidden lg:table-cell">Rank</th>
        <th class="text-left text-l py-3 px-4 w-1/4 lg:w-2/12">Price</th>
        <th class="text-left text-l py-3 px-4 lg:w-3/12 hidden lg:table-cell">ATH</th>
        <th class="text-left text-l py-3 px-4 w-1/4 lg:w-2/12">Balance</th>
        <th class="text-left text-l py-3 px-4 w-1/4 lg:w-2/12">Value</th>
    </tr>
    </thead>
    <tbody>
    {% for asset in assetsByValueDesc %}
    <tr class="text-l">
        <td class="py-2 px-4"><img src="{{ asset.currency.logoUrl }}" alt="{{ asset.currency.symbol }}" class="hidden lg:inline w-8 mr-1"/> {{ asset.currency.symbol }}</td>
        <td class="py-2 px-4 hidden lg:table-cell">{{ asset.rank }}</td>
        <td class="py-2 px-4">$ {{ asset.priceUSD }}</td>
        <td class="py-2 px-4 hidden lg:table-cell">$ {{ asset.athUSD }} <span class="text-sm text-gray-400">{{ asset.athRatio | numberformat("#.##") | notNullAdd("%") }}</span></td>
        <td class="py-2 px-4">{{ asset.balance | balance }}</td>
        <td class="py-2 px-4">€ {{ asset.valueUSD | rate('EUR') | numberformat("#.###") }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro deltaTable(deltaBalances) %}
<table class="w-full table table-fixed rounded-xl">
    <thead>
    <tr>
        <th class="text-left text-l py-3 px-4 w-4/12">Currency</th>
        <th class="text-left text-l py-3 px-4 w-4/12">Delta (7d)</th>
        <th class="text-left text-l py-3 px-4 w-4/12">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="py-2 text-xl" colspan="3">€ {{ deltaBalances.total | rate('EUR') | numberformat("#.###") }}</th>
    </tr>
    {% for delta in deltaBalances.deltas %}
    <tr class="text-l">
        <td class="py-2 px-4"><img src="{{ delta.currency.logoUrl }}" alt="{{ delta.currency.symbol }}" class="hidden lg:inline w-8 mr-1"/> {{ delta.currency.symbol }}</td>
        <td class="py-2 px-4">{{ delta.amount | balance }}</td>
        <td class="py-2 px-4">€ {{ delta.valueUSD | rate('EUR') | numberformat("#.###") }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}