
body {
    background-color: #141c2b;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#topbar {
    background-color: #192235;
    border-bottom: 1px solid #24324d;
}

#topbar svg {
    margin: auto;
}

.card, .table {
    background-color: #1c273c;
}

.table thead tr {
    border-top: none;
}

.table tbody tr {
    border-top: 3px solid #24324d;
}

tbody th {
    background-color: #192235;
}

.alt-color {
    color: #74a3b9;
}

a.portfolio-name {
    color: #0168fa;
}

a.portfolio-name:first-letter {
    text-transform: uppercase;
}

a.portfolio-name:hover {
    color: #ffffff;
}